* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kum.kum.lexc -text
/apertium-kum.kum.rlx -text
/apertium-kum.kum.twol -text
/apertium-kum.pc.in -text
/apertium-kum.post-kum.dix -text
/autogen.sh -text
/configure.ac -text
dev/auto-adj-from-dict.lexc -text
dev/auto-nouns-from-dict.lexc -text
dev/auto-verbs-from-dict.lexc -text
dev/auto-verbs-from-dict_left.lexc -text
dev/countstems.sh -text
dev/editdist.py -text
dev/numerals/Makefile -text
dev/numerals/numerals.lexc -text
dev/numerals/numerals.twol -text
dev/numerals/numerals.txt -text
eval/Makefile -text
eval/archive/ref.1000.txt -text
eval/archive/src.1000.txt -text svneol=unset#application/octet-stream
eval/evaluate-morph.py -text
eval/ref.500.txt -text
eval/src.500.txt -text svneol=unset#application/octet-stream
/modes.xml -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/cases-px.yaml -text
tests/cases.yaml -text
tests/epenthesis.yaml -text
tests/mz-cases.yaml -text
tests/passives.yaml -text
tests/sk.yaml -text
tests/voicing.yaml -text
tests/vowel-harmony.yaml -text
tests/yotised-prc.yaml -text
tests/в.yaml -text
